[submodule "22FoundryDeploy/FoundryProject1/firstProject/lib/forge-std"]
	path = 22FoundryDeploy/FoundryProject1/firstProject/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "22FoundryDeploy/FoundryProject1/firstProject/lib/openzeppelin-contracts"]
	path = 22FoundryDeploy/FoundryProject1/firstProject/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "24DappViem/dapp-viem/contracts/lib/forge-std"]
	path = 24DappViem/dapp-viem/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "24DappViem/dapp-viem/contracts/lib/openzeppelin-contracts"]
	path = 24DappViem/dapp-viem/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "32WalletWithAppkit/appkitProject/foundry/lib/forge-std"]
	path = 32WalletWithAppkit/appkitProject/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "32WalletWithAppkit/appkitProject/foundry/lib/openzeppelin-contracts"]
	path = 32WalletWithAppkit/appkitProject/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "33SigAndPermit/signAndPermit/foundry/lib/forge-std"]
	path = 33SigAndPermit/signAndPermit/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "33SigAndPermit/signAndPermit/foundry/lib/openzeppelin-contracts"]
	path = 33SigAndPermit/signAndPermit/foundry/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
